/*
$breakpoint argument choices:
-phone 600px
-tab-port 900px
-tab-land 1200px
-big-desktop 1800px
*/
/*********************************************
**********************************************
GENERAL CSS, UNIVERSAL AND COMMON CSS 
*********************************************
**********************************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 30%; } }
  @media (mix-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  /* IMPORTANT A PADDING AROUND THE WHOLE BODY , ITS NOT A INHEIRT PROPERTY */ }

::selection {
  background-color: #410b46;
  color: #ebfff8; }

/*********************************************
**********************************************
FADE IN OUT ANIMATION ,*KEY FRAMES* IMPORTANT
*********************************************
**********************************************/
.movinleft {
  animation: movInLeft 1s ease-out 300ms; }

.movinRight {
  animation: movInRight 1.5s ease-out 300ms; }

.rotate {
  animation: rotate 1.1s linear 2.3s; }

@keyframes movInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10.2rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes movInRight {
  0% {
    opacity: 0;
    transform: translateX(12rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes btnAnimation {
  0% {
    opacity: 0;
    transform: translateY(12rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadding {
  0% {
    opacity: 0;
    transform: scale(0.97); }
  15% {
    opacity: 15%;
    transform: scale(0.98); }
  30% {
    opacity: 30%;
    transform: scale(0.99); }
  45% {
    opacity: 45%;
    transform: scale(1); }
  60% {
    opacity: 60%;
    transform: scale(1.01); }
  80% {
    opacity: 80%;
    transform: scale(1.02); }
  100% {
    opacity: 95%;
    transform: scale(1.03); } }

@keyframes rotate {
  0% {
    transform: rotateY(0deg); }
  50% {
    transform: rotateY(180deg); }
  100% {
    transform: translate(0deg); } }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #343a40; }

.heading-primary--top {
  font-family: "Cutive Mono", sans-serif;
  font-size: 1.6rem;
  display: block;
  color: #f3e2e6;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1; }

.heading-primary--bottom {
  font-family: "Roboto", sans-serif;
  font-size: 2.8rem;
  color: #ebfff8;
  font-weight: 500;
  letter-spacing: 2px;
  display: inline-block; }

.heading-primary--colored {
  color: #a21caf; }

.heading-secondary {
  font-size: 2.2rem;
  font-weight: 400;
  color: #e7ebef; }

.para-primary {
  font-size: 1.4rem;
  font-weight: 300;
  color: #a5a9af;
  width: 68ch; }

.text-align {
  text-align: right; }
  @media (max-width: 37.5em) {
    .text-align {
      text-align: left; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 9.6rem !important; }

.u-margin-top-smallest {
  margin-top: 1rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 6rem !important; }

.u-margin-top-huge {
  margin-top: 9.6rem !important; }

.grid {
  display: grid;
  column-gap: 0rem;
  row-gap: 0rem;
  margin: 0 auto; }

.container {
  width: 140rem;
  margin: 0 auto; }

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr); }

.grid-webinar {
  grid-template-columns: 1.5fr 2fr; }
  @media (max-width: 37.5em) {
    .grid-webinar {
      grid-template-rows: 1.5fr 2fr;
      grid-template-columns: 1fr; } }

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr); }

.grid-1-2-cols {
  grid-template-columns: 1fr 2fr; }

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr); }

.grid-1-1-2-cols {
  grid-template-columns: 1fr 1fr 2fr; }

.grid-1-3-cols {
  grid-template-columns: 1fr 3fr; }

.anchor_btn:link,
.anchor_btn:visited {
  text-decoration: none;
  color: #e7ebef;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3rem; }

.btn {
  padding: 1rem 3rem;
  background-color: #ab33b7;
  display: inline-block;
  border-radius: 10rem;
  transition: all 300ms; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 1rem 1.6rem 1.6rem rgba(9, 10, 11, 0.8);
    background-color: #a21caf; }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0.5rem 0.8rem 0.8rem rgba(9, 10, 11, 0.8);
    background-color: #a21caf; }

.webinar {
  height: 100vh;
  width: 100vw;
  background-color: #2d3239;
  padding: 3rem;
  position: relative; }
  .webinar__box-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2rem 4rem 3rem rgba(9, 10, 11, 0.8);
    background-color: #090a0b;
    width: 78%;
    height: 50rem;
    overflow: hidden; }
    @media (max-width: 37.5em) {
      .webinar__box-1 {
        height: 95vh;
        width: 95vw; } }
  .webinar__img-box {
    z-index: 90;
    background-image: linear-gradient(to left top, #a21caf, #603196, #2b2e70, #102243, #0c1016);
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%); }
    @media (max-width: 37.5em) {
      .webinar__img-box {
        background-image: linear-gradient(to right bottom, #a21caf, #603196, #2b2e70, #102243, #0c1016);
        clip-path: none;
        height: 40vh; } }
  .webinar__img {
    width: 100%;
    opacity: 95%;
    transform: scale(1.03);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    animation: fadding 1s ease-out 750ms;
    animation-fill-mode: backwards; }
    @media (max-width: 37.5em) {
      .webinar__img {
        height: 100%;
        object-fit: cover;
        clip-path: polygon(0 14%, 100% 0, 100% 82%, 0% 100%); } }
  .webinar__text-box {
    padding: 4rem;
    background-image: linear-gradient(to left top, #720c5a 0%, #530f39, #330f20, #250d17, #18070d, #090a0b, #090a0b, #090a0b, #090a0b, #090a0b); }
  .webinar__location {
    font-size: 1.8rem;
    color: #f3e2e6;
    font-weight: 300;
    margin-right: 1rem;
    position: relative; }
    @media (max-width: 37.5em) {
      .webinar__location {
        margin-right: 0;
        margin-left: 1rem; } }
  .webinar__social {
    display: flex;
    gap: 1rem;
    font-size: 2rem; }
    .webinar__social-link:link, .webinar__social-link:visited {
      text-decoration: none;
      color: #edd2ef7e;
      transition: all 200ms; }
      .webinar__social-link:link:first-child, .webinar__social-link:visited:first-child {
        margin-left: auto; }
      @media (max-width: 37.5em) {
        .webinar__social-link:link:last-child, .webinar__social-link:visited:last-child {
          margin-right: auto; }
        .webinar__social-link:link:first-child, .webinar__social-link:visited:first-child {
          margin-left: 0; } }
    .webinar__social-link:hover, .webinar__social-link:active {
      color: #daa4df; }
  .webinar__calender {
    position: absolute;
    display: flex;
    top: 0;
    right: 30rem;
    gap: 1rem; }
    @media (max-width: 37.5em) {
      .webinar__calender {
        right: 0;
        left: 20rem; } }
    .webinar__calender-icon {
      font-size: 4.5rem; }
  .webinar__date-time {
    font-size: 1.5rem;
    color: #e7ebef;
    text-align: left;
    letter-spacing: 1px;
    font-weight: 300; }
  .webinar__form {
    position: absolute;
    padding: 4rem;
    top: 0;
    right: 60rem;
    transition: all 1.1s;
    opacity: 0;
    z-index: 10;
    visibility: hidden; }
  .webinar .slide {
    transform: translateX(60rem);
    opacity: 1;
    visibility: visible; }
  .webinar__heading {
    position: relative;
    transition: all 900ms; }

.slide-left1,
.slide-left2 {
  transition: all 900ms; }
