/*********************************************
**********************************************
FADE IN OUT ANIMATION ,*KEY FRAMES* IMPORTANT
*********************************************
**********************************************/

.movinleft {
  animation: movInLeft 1s ease-out 300ms;
}
.movinRight {
  animation: movInRight 1.5s ease-out 300ms;
}
.rotate {
  animation: rotate 1.1s linear 2.3s;
}
@keyframes movInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10.2rem);
  }

  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes movInRight {
  0% {
    opacity: 0;
    transform: translateX(12rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes btnAnimation {
  0% {
    opacity: 0;
    transform: translateY(12rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fadding {
  0% {
    opacity: 0;
    transform: scale(0.97);
  }
  15% {
    opacity: 15%;
    transform: scale(0.98);
  }
  30% {
    opacity: 30%;
    transform: scale(0.99);
  }
  45% {
    opacity: 45%;
    transform: scale(1);
  }
  60% {
    opacity: 60%;
    transform: scale(1.01);
  }
  80% {
    opacity: 80%;
    transform: scale(1.02);
  }
  100% {
    opacity: 95%;
    transform: scale(1.03);
  }
}
@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: translate(0deg);
  }
}

@keyframes shake {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}

input:required {
  animation: shake 300ms;
}
