body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.6;
  color: $color-grey-dark;
}
//300 400 500 700 900
//"Cutive Mono"

.heading-primary {
  &--top {
    font-family: "Cutive Mono", sans-serif;
    font-size: 1.8rem;
    display: block;
    color: $color-white-3;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1;
  }
  &--bottom {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    color: $color-white-1;
    font-weight: 500;
    letter-spacing: 2px;
    display: inline-block;
  }
  &--colored {
    color: $color-primary;
  }
}
.heading-secondary {
  font-size: 2.6rem;
  font-weight: 400;
  color: $color-white-2;
}
.para-primary {
  font-size: $default-font-size;
  font-weight: 300;
  color: $color-grey-text;
  width: 68ch;
  @include respond(phone) {
    width: 60ch;
  }
}
.text-align {
  text-align: right;
  @include respond(tab-land) {
  }
  @include respond(tab-port) {
  }
  @include respond(phone) {
    text-align: left;
  }
  @include respond(big-desktop) {
  }
}
.blockquote {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  color: $color-white-2;
  font-style: italic;
  text-align: center;
}
#entered-name {
  text-transform: capitalize;
  color: $color-primary;
}
