$color-grey-text: #a5a9af;
$color-grey-light: #868e96;

$color-grey-medium: #495057;
$color-grey-dark: #343a40;

$gunmetal: #2d3239;

$black-light: #1c1f22;
$black-mediumdark: #121416;
$black-dark: #090a0b;

$color-white-1: #ebfff8; //honeydew
$color-white-2: #e7ebef; //ivory
$color-white-3: #f3e2e6; //lavender

$color-primary: #a21caf;
$color-primary-shade-1light: #ab33b7;
$color-primary-light: #c777cf;
$color-primary-lightest: #daa4df;
$color-primary-lightest-shade-1: #deade2;
$color-primary-lightest-shade-2: #edd2ef7e;
$color-primary-dark: #611169;
$color-primary-darkest: #410b46;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #1998ff;
$color-tertiary-dark: #5643fa;

//GRID

$grid-width: 140rem;
$gutter-vertical: 0rem;
$gutter-horizontal: 0rem;

//FONTSIZES

$default-font-size: 1.4rem;
$heading-tertiary-font-size: 2rem;

//shadows

$black-shadow-normal: 2rem 4rem 3rem rgba($black-dark, 0.8);

$black-shadow-small: 0 2rem 2rem rgba($black-dark, 0.8);

// $black-shadow-medium: 0 2rem 4rem rgba($color-black, 0.2);
